{% extends "padre.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Bienvenido a la Página de Inicio</h1>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for producto in productos_al_azar %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image -->
                        <a href="{% url 'detalle_producto' producto.pk %}">
                            <img src="{{ producto.fotos.url }}" alt="{{ producto.nombre }}" class="card-img-top" />
                        </a>
                        <!-- Resto de los detalles del producto -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name -->
                                <h5 class="fw-bolder">{{ producto.nombre }}</h5>
                                <!-- Precio con símbolo de $ -->
                                <p class="fw-bolder">$ {{ producto.precio|floatformat:"2" }}</p>
                                <!-- Otros detalles del producto -->
                            </div>
                        </div>
                        <!-- Resto de las acciones del producto -->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <button class="btn btn-outline-dark mt-auto" disabled>Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>    
</div>
{% endblock %}