{% extends "padre.html" %}
{% load static %}

{% block content %}
<img src="{% static 'about_us.png' %}" alt="Imagen Nosotros" style="width: 100%;" />
  <h2>Acerca de mi</h2>
  <p>Mi nombre es Juan Andrés Pardo</p>
  <p>Soy Licenciado en Negocios Internacionales e Integración y además tengo un MBA en dirección de empresas.</p>
  <p>En mi familia somos fundadores de una empresa importadora y este proyecto se trata de una nueva sección del negocio.</p>
  <p>Comencé a estudiar Python como un hobbie, pero en el transcurso de este curso he aprendido que tiene mucho potencial para nuestro negocio</p>
{% endblock %}